/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  position: relative;
  overflow: hidden;
  background: #B8E1FC;
  background: -webkit-radial-gradient(circle farthest-corner at center center, #B8E1FC 0%, #231421 100%);
  background: -moz-radial-gradient(circle farthest-corner at center center, #B8E1FC 0%, #231421 100%);
  background: radial-gradient(circle farthest-corner at center center, #B8E1FC 0%, #231421 100%);
}

.title {
  background: #FFFF00;
  background: -webkit-linear-gradient(to left, #FFFF00 0%, #05C1FF 50%, #FFFF00 100%);
  background: -moz-linear-gradient(to left, #FFFF00 0%, #05C1FF 50%, #FFFF00 100%);
  background: linear-gradient(to left, #FFFF00 0%, #05C1FF 50%, #FFFF00 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.subtitle {
  background: #00FF00;
  background: -webkit-linear-gradient(to left, #00FF00 0%, #00FFFF 100%);
  background: -moz-linear-gradient(to left, #00FF00 0%, #00FFFF 100%);
  background: linear-gradient(to left, #00FF00 0%, #00FFFF 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo {
  width: 32px;
  margin-left: 10px;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
}
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

p.secondary {
  color: #ff0;
  font-size: 0.9rem;
}

p.secondary a {
  color: #ff0;
  text-decoration: underline;
}
